@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins', sans-serif ;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    background: linear-gradient(175deg,rgba(0, 0, 0, 1) 0%, rgba(38, 21, 0, 1) 100%);
    width: 100%;
}

.container{
    width: 1400px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header .logo, footer .blocks .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color:#fff;
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 39px;
    height: 4px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #DC7000;
}
header nav ul li.btn a, .email .block button{
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover, .email .block button:hover{
    background: #8b4902;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero-info{
    width: 527px;
    padding-top: 70px;
}
.hero-info h2{
    font-weight: 700;
    font-size: 20px;
    color: #E87D0E;
}
.hero-info h1{
    font-weight: 700;
    font-size:50px;
    margin: 17px 0;
}
.hero-info p{
    font-weight: 500;
    line-height: 170%;
    margin:30px 0;
}
.hero-info .btn, .hero-about .info button{
    background: linear-gradient(114deg,rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
    color:#fff;
    border-radius: 40px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}
.hero-info .btn:hover, .hero-about .info button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero img{
    position: absolute;
    top: -150px;
    right: 0;
}

/* Секция с играми */
.trending{
    padding-top: 70px;
}
.trending h3{
    font-size: 31px;
    font-weight: 700;
}
.trending .see-all, .projects .see-all{
    color:#fff;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    padding: 10px 30px;
    float:right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover{
    transform: scale(1.1);
}
.trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.trending .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.trending .games span img{
    position: relative;
    top: 5px;
    margin-right: 7px;
}
.big-text {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding: 50px 0;
    width: 800px;
}
.banner{
    padding: 80px 0;
}
.banner h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}
.banner img{
    width: 100%;
    margin-bottom: 30px;
}
/*секция с функциями */

.features{
    background: url('img/backround.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}
.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.features h3{
    font-size: 30px;
}
.features .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block{
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}
.features .info .block img{
    margin-bottom: 15px;
}
/*секция с проектами*/
.projects{
    padding: 100px 0;
}
.projects h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.projects p{
    width: 500px;
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}
.projects .images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.projects .see-all{
    float: none;
    width: 60px;
    text-align: center;
    margin: 50px auto;
}
/*нижняя часть*/

.email{
    padding-bottom: 120px;
}
.email h3{
    margin-top: 60px;
    font-size: 30px;
}
.email .block{
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email .block h4{
    font-size: 30px;
    font-weight: 500;
}
.email .block p{
   width: 500px;
}

.email .block input{
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 8px;
    width: 380px;
    font-family: 'poppins', sans-serif ;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px
}
.email .block input::placeholder{
    color: #898989;
}
.email .block button{
    cursor: pointer;
    border: 0;
    color: #fff;
    padding: 13px 17px;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}
/*страница про нас*/
.hero-about{
    padding-bottom: 200px;
    position: relative;
}
.hero-about .info{
    width: 450px; 
    padding: 50px 0px;
}
.hero-about .info h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.hero-about .info .home{
    font-size:12px;
    margin: 35px 0;
}
.hero-about .info .about{
    color:#E47500;
    font-size: 12px;
}
.hero-about .info .text{
    font-size: 15px;
    margin-bottom: 50px;
}

.hero-about img{
    position: absolute;
    right: -60px;
    top: 0;
}
.only-text p{
    font-size: 25px;
    font-weight: 500;
    padding: 70px 0;
}
/* секция с блоками*/

.work{
    padding: 80px 0;
}
.work h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks{
    display: flex;
    justify-content: space-between;
}
.work .blocks .block{
    width: 25%;
    border-radius: 20px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0;
}
.work .blocks .block .badge{
    border-radius: 7px;
    padding: 10px 20px;
}
.work .blocks .block .badge.purple{
    background: rgba(176, 0, 220, 0.11);
}
.work .blocks .block .badge.brown{
    background: rgba(220, 66, 0, 0.11);;
}
.work .blocks .block .badge.green{
    background: rgba(0, 220, 141, 0.11);
}

.description{
    background: #1C140F;
}
.description .desc{
    display: flex;
    align-items: center;
    gap:100px;
}
.description .desc img{
    padding-top: 100px;
}
.description .desc .desc-infa{
    width: 536px;
    padding: 120px 0;
}
.description .desc .desc-infa h4{
    font-weight:400;
}
.description .desc .desc-infa h1{
    font-size: 28px;
    padding: 15px 0;
}
.description .desc .desc-infa p{
    line-height: 1.8;
}
.team{
    padding: 50px 0;
}
.team h2{
    font-size: 25px;
    margin-bottom: 50px;
}
.team .team-blocks{
    display: flex;
    justify-content: space-between;
}
.team .team-blocks .block{
    background: #1C140F;
    padding: 35px 85px;
    border-radius: 20px;
    text-align: center;
}

.loop{
    padding: 50px;
}
.loop h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.loop p{
    width: 530px;
}
.loop .loop-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1C140F;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 50px 0;
}
.loop .loop-block h4{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 7px;
}
.loop .loop-block p{
    width: 500px;
}
.loop .loop-block input{
    background: #fff;
    padding: 14px 20px;
    width: 384px;
    border-radius: 8px;
    border: 0;
    outline: none;
    font-family: 'poppins', sans-serif;
    position: relative;
    right: -120px;
    z-index: 1;
    padding-right: 120px
}
.loop .loop-block button{
    background: #DC7000;
    color: #fff;
    padding: 9px 15px;
    border-radius: 8px;
    width: 105px;
    border: 0;
    position: relative;
    z-index: 2;
}

/*страница с портфолио*/

.service{
    padding: 50px 0;
}
.service .orange{
    color: #E47500;
}
.service .home{
    text-align: center;
    font-weight: 400;
}
.service h1{
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    padding: 15px 0;
}
.service .text{
    text-align: center;
}
.service .blocks{
    display: flex;
    justify-content: space-between;
    background: #1C140F;
    padding: 40px 100px;
    border-radius: 10px;
    margin-top: 50px;
}
.service .blocks .block{
    display: flex;
    gap:36px;
    align-items: center;
    padding: 30px 0;
}
.service .block:not(:last-child){
    border-right: 2px solid #fff;
    padding-right: 150px;
}
.service .blocks .block .info h3{
    font-size: 25px;
}
.service .blocks .block .info p{
    font-size: 20px;
}

.video{
    display: flex;
    gap:85px;
    padding: 50px 0;
}
.video .info h1{
    width: 380px;
    font-size: 30px;
    padding-bottom: 15px;
}
.video .info p{
    width: 430px;
    padding-bottom: 40px;
    font-size: 14px;
}
.video .info ul{
    list-style: none;
}
.video .info ul li{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.text-image{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.text-image .infa h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    width: 480px;
}
.text-image .infa p{
    font-size: 17px;
    width: 540px;
}
.text-image .infa .text1{
    padding-bottom: 30px;
}
.text-image .infa button{
   margin-top: 50px;
   padding: 15px 45px;
   background: #DC7000;
   color: #fff;
   border: 0;
   font-size: 16px;
}
.text-image2{
    display: flex;
    gap: 120px;
    padding: 50px 0;
}
.text-image2 .infa h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    width: 480px;
}
.text-image2 .infa p{
    font-size: 17px;
    width: 540px;
}
.text-image2 .infa .text1{
    padding-bottom: 30px;
}
.text-image2 .infa button{
   margin-top: 50px;
   padding: 15px 45px;
   background: #DC7000;
   color: #fff;
   border: 0;
   font-size: 16px;
}

.reviews{
    background: #1C140F;
    padding: 70px 0;
}
.customer h1{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    width: 450px;
    margin: 0 auto;
}
.customer .text1{
    width: 550px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}
.customer .peoples-blocks{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.customer .peoples-blocks .people-block{
    padding: 30px 30px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.customer .peoples-blocks .people-block:hover{
    border-color: #DC7000;
    cursor: pointer;
}
.customer .peoples-blocks .people-block p{
    width: 340px;
    padding-top: 20px;
}
.customer .peoples-blocks .people-block .rating-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer .peoples-blocks .people-block .rating-block .person{
    display: flex;
    gap: 20px;
}
.customer .peoples-blocks .people-block .rating-block .person{
    display: flex;
    gap: 20px;
}
.reviews-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
}
.dots{
    display: flex;
    gap: 10px;
    align-items: center;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.dot.active{
    width: 45px;
    background: #DC7000;
    border-radius: 5px;
}
.arrows{
    display: flex;
    gap: 15px;
    margin-right: 100px;
}
.arrow-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #DC7000;
    background: transparent;
    color: #DC7000;
}
.arrow-btn.active{
    background: #DC7000;
}

.projects-secrvices{
    padding: 100px 0;
}
.projects-secrvices h3{
    font-size: 30px;
    font-weight: 500;
}
.projects-secrvices .p1{
    width: 545px;
    padding: 20px 0;
}
.projects-blocks{
    display: flex;
    justify-content: space-between;
    background: #1B1B1B;
    padding: 40px 50px;
    border-radius: 15px;
    align-items: center;
    margin-top: 20px;
}
.projects-blocks h4{
    font-size: 30px;
    font-weight: 500;
}
.projects-blocks .p2{
    font-size: 17px;
    font-weight: 400;
    width: 520px;
    padding-top: 10px;
}
.projects-blocks input{
    padding: 14px 20px;
    width: 400px;
    border-radius: 8px;
    background: #fff;
    border: none;
    font-family: 'poppins', sans-serif;
    position: relative;
    z-index: 1;
    right: -105px;
    
}
.projects-blocks input::placeholder{
    color: #898989;
}
.projects-blocks button{
    background: #DC7000;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    position: relative;
    z-index: 2;
}

footer{
    background: #070707;
}
.blocks-servies{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.blocks-servies .dotas{
    display: flex;
    justify-content: center;
    gap:15px;
    align-items: end;
}
.blocks-servies .dotas .dota{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks-servies h1{
    font-size: 24px;
}
.blocks-servies p{
    width: 330px;
    padding: 25px 0;
}
.blocks-servies h4{
    font-weight: 400;
}
.blocks-servies ul{
    list-style: none;
    padding-top: 25px;
} 
.blocks-servies ul li{
    margin-bottom: 10px;
}
footer > p{
    text-align: center;
    padding: 30px 0;
}


/* страница с новостями*/
.search{
    padding: 50px 0;
}
.search-nav{
    display: flex;
    justify-content: center;
    gap:10px;
}
.search-nav a{
    text-decoration: none;
    color: #fff;
    transition: color 300ms ease;
}
.search-nav a:hover{
    color:#DC7000;
}
.search-nav .current{
    color: #DC7000;
}
.seacrh-text{
    text-align: center;
}
.seacrh-text h1{
    font-size: 33px;
    font-weight: 600;
}
.search-block{
    background: #1C140F;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    border-radius: 10px;
    gap:15px
}
.search-block .search-input{
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
}
.search-block .search-input::placeholder{
    color: #fff;
}
.search-block .search-icon{
    padding-left: 15px;
    flex-shrink: 0;
}
.news{
    display: flex;
    justify-content: space-between;
}
.news-infa .infa-block h1{
    width: 570px;
    font-size: 30px;
    padding-bottom: 30px;
}
.news-infa .infa-block p{
    width: 530px;
    padding-bottom: 30px;
}
.news-infa .infa-block .infa-block-btn{
    padding: 30px 0;
}
.news-infa .infa-block .infa-block-btn button{
    background: #2351F5;
    border: none;
    padding: 15px 35px;
    color: #fff;
}
.news-infa .infa-block .infa-block-btn{
    display: flex;
    align-items: center;
    gap:15px;
}
.news-infa> hr{
    margin: 85px 0;
}
.news-posts .posts-block{
    display: flex;
    justify-content: space-between;
    gap:30px;
    padding-bottom: 50px;
}
.news-posts .posts-block .posts-block-text h2{
    width: 390px;
    font-size: 23px;
    font-weight: 500;
}
.news-posts .posts-block .posts-block-text .posts-block-btn{
    display: flex;
    gap: 15px;
    align-items: center;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button{
    padding: 10px 30px;
    color: #fff;
    border: none;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button.pink{
    background: #FF8484;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button.blue{
    background: #2351F5;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button.orange{
    background: #FF7C32;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button.green{
    background: #23A54F;
}
.news-posts .posts-block .posts-block-text .posts-block-btn button.perple{
    background: #9921C3;
}
.lorem{
    padding: 50px 0;
}
.lorem h3{
    font-size: 30px;
    font-weight: 500;
}
.lorem .lorem-text{
    width: 540px;
    padding: 30px 0;
}
.lorem .lorem-blocks{
    background: #1C140F;
    padding: 40px 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.lorem .lorem-blocks h4{
    font-size: 30px;
    font-weight: 500;
}
.lorem .lorem-blocks .lorem-blocks-text{
    width: 520px;
    padding-top: 10px;
}
.lorem .lorem-blocks input{
    width: 380px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
    border: none;
    font-family: 'poppins', sans-serif;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    right: -105px;
}
.lorem .lorem-blocks input::placeholder{
    color: #898989;
}
.lorem .lorem-blocks button{
    padding: 10px 20px;
    border-radius: 8px;
    background: #DC7000;
    border: none;
    color: #fff;
    position: relative;
    z-index: 2;
}
footer{
    background:#070707;
    padding: 30px;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-block h1{
    font-size: 24px;
}
.footer-block p{
    width: 340px;
    padding: 15px 0;
}
.footer-block h4{
    font-size: 17px;
    font-weight: 500;
}
.footer-block ul{
    list-style: none;
    padding-top: 15px;
}
.footer-block ul li{
    padding: 3px 0;
}
.footer-block .footer-dots{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: end;
    
}
.footer-block .footer-dots .footer-dot{
    height: 34px;
    width: 34px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    text-align: center;
}

/*страница кантакты*/
.service img{
    display: block;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 100%;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    padding: 50px 0;
}
.contacts > div{
    flex: 1;
}
.footer-dots{
    display: flex;
    align-items: center;
    gap:10px;
    padding-top: 10px;
}
.footer-dots .footer-dot{
    height: 50px;
    width: 50px;
    background: #1C140F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts .block1{
    display: flex;
    align-items: center;
   padding: 40px 50px;
}
.contacts .block2{
    display: flex;  
    align-items: center;
    gap: 15px;
    border-left: 1px solid #fff;
    padding: 50px 50px;
}
.contacts .block3{
    display: flex;  
    align-items: center;
    gap: 15px;
    padding: 40px 50px;
    border-left: 1px solid #fff;
}

.feedback{
    padding: 70px 0;
    background: #1C140F;
}
.feedback h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.feedback p{
    text-align: center;
    margin-top: 10px;
}
.feedback form{
    margin: 80px auto;
    width: 600px;
}
.feedback form .inline{
    display: flex;
    justify-content: space-between;
}
.feedback form .inline > div{
    width: 50%;
}
.feedback form label{
    color: #4F4F4F;
    font-size: 14px;
}
.feedback form input,
.feedback form textarea{
    background: #4F4F4F;
    border-radius: 10px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}
.feedback form .one-line{
    width: 96%;
}
.feedback form textarea{
    resize: none;
    height: 200px;
}
.feedback form button{
    background: #DC7000;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    float: right;
    transition: all 300ms ease;
}
.feedback form button:hover{
    background: #8b4902;
}